*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    background: url(images/pattern.png);
    background-size: 200%;   
}
header {
    position: relative;
    background-color: rgb(19, 10, 17);
    border: 5px darksalmon ;
    padding: 80px;
    color: antiquewhite;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-gap: 5px;
}

.big {
    grid-area: span 1 / span 2;
}
.display {
    grid-area: span 1 / span 4;
    background-color: white;
    border: 2px solid gray;
    text-align: right;
    font-size: 2rem;
    padding: 15px;
}

.inputField {
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 20px auto;
    padding: 20px;
    font-size: 2rem;
}
.active {
    border: 2px limegreen solid;
    transform: scale(1.05);
    transition: 0.08s;
}
.calculator {
    background-color: antiquewhite;
    padding: 5px;
    border: 2px solid gray;
    margin-top: 20px;
}